body{
    background-image: url("../images/background.png");
    background-size: cover;
    
}
.btn-primary {
    background-color: #9763d3
}
.btn-primary:hover {
    background-color: #dd6cb4;
}
#start{
    background: url("../images/button.png") no-repeat;
    cursor:pointer;
    background-blend-mode: overlay;
    border: none;
    padding: 15px 20px 17px;
}
#start:active { /* use Dot here */  
    background: url("../images/button.png") no-repeat;
    background-blend-mode: overlay;
    border: none;
}
 
header {
    text-align: center;
    font-family: 'Sacramento', cursive;
}
h1{
    font-weight: bolder;
}
h2 {
    font-family: 'Satisfy', cursive;
}
#start,#playAgain{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#questionBox {
    text-align: center;
    background-color: #f78bd050;
    padding:20px;
    border: 1px solid #f78bd050;
    border-radius: 10px;
}
.col-md-4{
    text-align: center;
    font-weight: bold;
}
.col-md-12{
    text-align: center;
    font-weight: bold;
}
#answerBox{
    background-color: #f78bd050;
    padding:20px;
    border: 1px solid #f78bd050;
    border-radius: 10px;
}