header {
    text-align: center;
    font-family: 'Sacramento', cursive;
}
#start{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#questionBox {
    text-align: center;
}
.col-md-6{
    text-align: center;
}
.col-md-12{
    text-align: center;
}
.answer:hover {
    background-color: #5ea7fa;
}